body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 10px;
}

p {
  color: #cbd5e1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #2563eb;
}